import path from 'path'

let config = {
  app: {
    domain: '',
    port: 1337
  },
  cookie: {
    secret: '',
    resave: false,
    saveUninitialized: true
  },
  socket: {

  }
}

module.exports = config
